*.ncb
*.suo
*.user

*.pch

*.pdb
*.idb
*.obj

*.exp
*.ilk
*.embed.manifest*

*.sln
*.vcxproj
*.vcxproj.filters
*.vcproj
*.sdf
*.opensdf

moc_*.cxx*
ui_*.h

*.o

*.log
*~
*.old

*.dll
*.exe
*.lib

*.fxo

*.am
*.in
*.cmake
*.m4

*.dsp
*.dsw

*~AutoRecover*

*.zip
*.7z
*.rar

*.intermediate.manifest
*.lastbuildstate

*.sys
*.vxd

*.d

*.tlog
*.dmp
*.timestamp

*.tar
*.tar.gz

CMakeFiles

Debug/
Release/
RelWithDebInfo/

BuildLog\.htm
mt\.dep

ipch/

UpgradeLog\.XML

settings\.ini

doc/html/
_UpgradeReport_Files/
CodeAnalyst/

# CMake stuff
ALL_BUILD
ZERO_CHECK
CMakeCache.txt
MakeFile
include/kNetBuildConfig.h

# Potentially unwanted excludes:
*.asm
*.mht


*.a